<a href="https://colab.research.google.com/github/Alanawd/AIDS/blob/main/AIDS_PROJECT_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

#data = pd.read_csv("bbc-news-data-set.csv")
#data.head()

df = pd.read_csv("bbc-news-data-set.csv")
df.head()

                            date  ...                 label
0  Wed, 04 Aug 2021 10:37:32 GMT  ...                    uk
1  Wed, 21 Jul 2021 18:06:19 GMT  ...              business
2  Wed, 14 Jul 2021 06:41:09 GMT  ...                    uk
3  Fri, 23 Jul 2021 01:43:40 GMT  ...  education-and-family
4  Tue, 29 Jun 2021 05:37:38 GMT  ...                health

[5 rows x 4 columns]

In [17]:
df.label = pd.Categorical(df.label)

df['code'] = df.label.cat.codes

df.head()
df.tail()

                              date  ... code
931  Thu, 22 Jul 2021 09:16:40 GMT  ...    7
932  Thu, 29 Jul 2021 05:38:36 GMT  ...    8
933  Mon, 02 Aug 2021 08:51:07 GMT  ...    4
934  Tue, 03 Aug 2021 23:01:51 GMT  ...    9
935  Tue, 06 Jul 2021 11:00:59 GMT  ...    7

[5 rows x 5 columns]

In [25]:
df['code'] = pd.factorize(df['label'])[0] + 1

print(df)

                              date  ... code
0    Wed, 04 Aug 2021 10:37:32 GMT  ...    1
1    Wed, 21 Jul 2021 18:06:19 GMT  ...    2
2    Wed, 14 Jul 2021 06:41:09 GMT  ...    1
3    Fri, 23 Jul 2021 01:43:40 GMT  ...    3
4    Tue, 29 Jun 2021 05:37:38 GMT  ...    4
..                             ...  ...  ...
931  Thu, 22 Jul 2021 09:16:40 GMT  ...    9
932  Thu, 29 Jul 2021 05:38:36 GMT  ...    1
933  Mon, 02 Aug 2021 08:51:07 GMT  ...    8
934  Tue, 03 Aug 2021 23:01:51 GMT  ...    5
935  Tue, 06 Jul 2021 11:00:59 GMT  ...    9

[936 rows x 5 columns]

In [18]:
print(df.code)

0      8
1      0
2      8
3      1
4      3
      ..
931    7
932    8
933    4
934    9
935    7
Name: code, Length: 936, dtype: int8

In [29]:
    print(df['label'].unique())
    print(df['code'].unique())

['uk' 'business' 'education-and-family' 'health' 'world'
 'science-and-environment' 'entertainment-and-arts' 'politics'
 'technology' 'sport']
[ 1  2  3  4  5  6  7  8  9 10]